/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .respectify-test-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.respectify-test-container #respectify-test-result {
    margin-left: 1rem;
}

.description.description-match-font-size { /* Match the font size of text in the settings tables */
    font-size: 14px;
}

.respectify-checkbox-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;

    gap: 0.5rem;

    padding-bottom: 0.5rem; /* Padding here is to the description label */
}

/* Keeping the slider and text aligned nicely with each other*/

.respectify-slider-row {
    margin-bottom: 1em; /* Space below the slider row */
}

.respectify-slider-row label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 0.5em;
}

.respectify-slider-row .emoji {
    font-size: 1.8em; /* Increases the size of the emojis */
    display: inline-block;
    vertical-align: middle; /* Centers emoji vertically */
}

/* Slider styling */

.respectify-slider-row input[type="range"] {
    display: inline-block;
    vertical-align: middle;
    width: 120px; /* Sets a fixed width to prevent it from being too wide */
    margin: 0;
}

/* "Out of 5" text styling */
.respectify-slider-row .out-of {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em; /* Adjust as needed */
    margin-left: 0.5em; /* Space before the text */
}
