:root {
    --respectify-message-color: rgba(135, 206, 235, 1); /* Skyblue CSS constant in hex */
    --respectify-message-background-color: rgba(135, 206, 235, 0.15); /* Skyblue CSS constant, semitransparent */
}

.respectify-message {
    font-size: medium;
}

.respectify-error {
    margin-top: 10px;
    border: 1px solid var(--respectify-message-color);
    border-radius: 0.4rem;
    background-color: var(--respectify-message-background-color);
    padding: 1rem;
    padding-bottom: 0.1rem;
}

.respectify-success {
    color: green;
    background-color: rgba(0, 255, 0, 0.15);
    margin-top: 10px;
}

.respectify-working-message {
    margin-top: 10px;
}

/* The div that contains feedback. It's inside a .respectify-message .respectify-error div */
.respectify-feedback {
    font-size: medium;
}

